{% extends "app/base.html" %}

{% block content %}
<style>
.htmx-settling tr.deactivate td {
  background: lightcoral;
}
.htmx-settling tr.activate td {
  background: darkseagreen;
}
tr td {
  transition: all 1.2s;
}
body {
}
</style>

<div hx-include="#checked-contacts" hx-target="#tbody">
  <button class="btn" hx-put="/hx/activate">Activate</button>
  <button class="btn" hx-put="/hx/deactivate">Deactivate</button>
</div>

<form id="checked-contacts">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
</form>
<div hx-target="#tbody" hx-trigger="load" hx-get="/hx/form"></div>
{% endblock %}
